.THIS {
}

.THIS .upAndDownVote{
	float: left;
    margin-right: 15px;
    margin-left: 10px;
}
.THIS .postBodyAndLinks{
	padding-top: 5px;
}
.THIS .upvoteCustom{
    display:block;
	cursor: pointer;
}

.THIS .downvoteCustom{
    cursor: pointer;
}